.env
*.pyc
OAI_CONFIG_LIST
api_configs.py
results/*
*.csv
neuro_manipulation/representation_storage
.cache/*
groupchat/agent_groups
merge_data_samples.py
*.json
*.png
*.mdc
test_outputs/*
test_data/*
data/*
data_creation/scenario_creation/langgraph_creation/scenarios/*
data_creation/scenario_creation/langgraph_creation/histories/*
logs/*
result_analysis/emotion_analysis_results.json
*.log

# Track only this subset under data
!data/emotion_scales/
!data/emotion_scales/**
